<!DOCTYPE html>
<html dir="ltr"

xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="16x16" href="../../assets/images/favicon.png">
    <title>Ćosić podovi | Administrator</title>
    <link rel="stylesheet" type="text/css" href="../assets/extra-libs/prism/prism.css">
    <link href="../dist/css/style.min.css" rel="stylesheet">
</head>

<body>
    <div class="main-wrapper">
       
        <div class="preloader">
            <div class="lds-ripple">
                <div class="lds-pos"></div>
                <div class="lds-pos"></div>
            </div>
        </div>
      <div class="auth-wrapper d-flex no-block justify-content-center align-items-center position-relative"
            style="background:url(../../../assets/images/big/auth-bg.jpg) no-repeat center center;">
            <div class="auth-box row">
                <div class="col-lg-7 col-md-5 modal-bg-img" style="background-image: url(../assets/images/big/7.jpg);  background-repeat: no-repeat; background-size: cover; "> </div>
                <div class="col-lg-5 col-md-7 bg-white">
                    <div class="p-3">
                        <div class="text-center">
                            <img src="../../../assets/images/logo_cosic.png" alt="wrapkit">
                        </div>
                        <h2 class="mt-3 text-center">Prijava</h2>
                        <p class="text-center">Da bi pristupili aplikaciji unesite vašu elektronsku adresu i lozinku.</p>
                        <form class="mt-4" th:action="@{/login}" method="post">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label class="text-dark" for="username">E-mail:</label>
                                        <input class="form-control"  name="username" type="text" placeholder="Unesite vašu e-adresu">
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label class="text-dark" for="password">Lozinka:</label>
                                        <input class="form-control"  name="password" type="password" placeholder="Unesite vašu lozinku">
                                    </div>
                                </div>
                                <div class="col-lg-12 text-center">
                                    <button type="submit" class="btn btn-block btn-dark">Prijavi se...</button>
                                </div>
                                <div class="col-lg-12 text-center mt-5">
                                   
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
      <script src="../assets/libs/jquery/dist/jquery.min.js "></script>
    <script src="../assets/libs/popper.js/dist/umd/popper.min.js "></script>
    <script src="../assets/libs/bootstrap/dist/js/bootstrap.min.js "></script> 
    <script>
        $(".preloader ").fadeOut();
    </script>
</body>
</html>