<aside class="left-sidebar" data-sidebarbg="skin6">
           <div class="scroll-sidebar" data-sidebarbg="skin6">
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li class="sidebar-item"> <a class="sidebar-link sidebar-link" href="#"
                                aria-expanded="false"><i data-feather="home" class="feather-icon"></i><span
                                    class="hide-menu">Administrator</span></a></li>
                        <li class="list-divider"></li>
                        <li class="nav-small-cap"><span class="hide-menu">Evidencija vozila</span></li>
                        <li class="sidebar-item"> <a class="sidebar-link has-arrow" href="javascript:void(0)"
                                aria-expanded="false"><i data-feather="file-text" class="feather-icon"></i><span
                                    class="hide-menu">Vozila </span></a>
                            <ul aria-expanded="false" class="collapse  first-level base-level-line">
                                <li class="sidebar-item"><a href="/admin/home" class="sidebar-link"><span
                                            class="hide-menu">Pregled vozila
                                        </span></a>
                                </li>
                                <li class="sidebar-item"><a href="/admin/addVehicle" class="sidebar-link"><span
                                            class="hide-menu">Unos vozila
                                        </span></a>
                                </li>
                                <li class="sidebar-item"><a href="/admin/addOwner" class="sidebar-link"><span
                                            class="hide-menu">Unos vlasnika
                                        </span></a>
                                </li>
                                <li class="sidebar-item"><a href="/admin/addService" class="sidebar-link"><span
                                            class="hide-menu">Unos servisa
                                        </span></a>
                                </li>
                                
                                
                                
                            </ul>
                        </li>
                       
                        <li class="list-divider"></li>
                        <li class="nav-small-cap"><span class="hide-menu">Magacin</span></li>
                        <li class="sidebar-item"> <a class="sidebar-link has-arrow" href="javascript:void(0)"
                                aria-expanded="false"><i data-feather="file-text" class="feather-icon"></i><span
                                    class="hide-menu">Materijal </span></a>
                            <ul aria-expanded="false" class="collapse  first-level base-level-line">
                                <li class="sidebar-item"><a href="#" class="sidebar-link"><span
                                            class="hide-menu">Cement
                                        </span></a>
                                </li>
                                <li class="sidebar-item"><a href="#" class="sidebar-link"><span
                                            class="hide-menu"> Pesak
                                        </span></a>
                                </li>
                                
                            </ul>
                        </li>
                       </ul>
                </nav>
               
            </div>
           
        </aside>